* {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #55828b;
  color: #b9dac0;
  & header {
    & .title {
      padding: 3rem;
      font-size: 4rem;
      justify-self: center;
    }
  }
  & .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    & .player-information-dialog {
      position: absolute;
      justify-self: center;
      padding: 2rem;
      background-color: #b9dac0;
      color: #55828b;
      border-radius: 1rem;
      & form {
        display: flex;
        flex-direction: column;
        & fieldset {
          padding: 1rem;
          & input {
            margin: 0 0.5rem;
            padding: 0.5rem;
            height: 1rem;
            border-radius: 0.5rem;
          }
        }
        & button {
          margin: 1rem 0 0 0;
          padding: 1rem;
          background-color: #55828b;
          border-radius: 1rem;
          color: #b9dac0;
          font-size: 1rem;
          font-weight: 600;
        }
      }
    }
    & .start-button {
      width: 100px;
      height: 50px;
      background-color: #b9dac0;
      border-radius: 1rem;
      font-size: 1rem;
      font-weight: 600;
      color: #55828b;
    }
    & .game-container {
      display: flex;
      justify-content: center;
      justify-self: center;
      flex-wrap: wrap;
      width: 100%;
      & .grid {
        width: 450px;
        height: 450px;
        order: 1;
        display: grid;
        border-spacing: 12px 5px;
        & tr {
          & td {
            width: 140px;
            height: 140px;
            background-color: #c9e4ca;
            border-radius: 1.5rem;
            box-shadow: inset 2px 2px 20px -1px rgba(85, 130, 139, 0.9),
              inset -2px -2px 10px -1px rgba(201, 228, 202, 0.6);
          }
          & .cell {
            font-weight: 900;
            font-size: 5rem;
            color: #55828b;
            text-align: center;
          }
        }
      }
      & .player {
        margin: 50px;
        padding: 1rem;
        width: 250px;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      & .player[data-index="0"] {
        order: 0;
        font-size: 1.5rem;
      }
      & .player[data-index="1"] {
        order: 2;
        font-size: 1.5rem;
      }
      & .controls {
        order: 3;
        margin: 3rem;
        width: 250px;
        display: flex;
        justify-content: space-between;
        & .control {
          border-radius: 1rem;
          padding: 1rem;
          background-color: #b9dac0;
          font-size: 1rem;
          font-weight: 600;
          color: #55828b;
        }
      }
      & .result {
        padding: 1rem;
        font-size: 2rem;
        background-color: rgba(85, 130, 139, 0.7);
        border-radius: 1.5rem;
        position: absolute;
        justify-self: center;
        align-self: center;
      }
    }
  }
}
